tensorflow==2.4.0
git+ssh://git@github.com/yoshihikoueno/dsargparse.git
numpy==1.19.2
connected-components-3d
tensorflow-addons
matplotlib
protobuf
regex
pandas
tqdm
opencv-python
p_tqdm
pyyaml
tensorboard_plugin_profile
ruamel.yaml
scipy
scikit-learn
xgboost
