tensorflow==2.4.0
git+https://github.com/yoshihikoueno/dsargparse.git@master
numpy==1.19.2
connected-components-3d
tensorflow-addons
matplotlib
protobuf
regex
pandas
tqdm
opencv-python==4.5.1.48
p_tqdm
pyyaml
tensorboard_plugin_profile
ruamel.yaml
scipy
scikit-learn
xgboost
